<ion-view hide-nav-bar="true">
  <div class="bar header-bar-light">

  </div>



  <ion-content class="padding has-subheader">
    <div id="circle" ng-class="{ 'animated infinite bounce' : app.loading}" >
      <h3 ng-hide="app.loading" id="greeting">Welcome to Gym Hero!</h3>
      <h3 ng-if="app.loading" id="greeting">
        Signing In ...
      </h3>
      <img src="img/Logo.png" alt="">
      </div>
    <button class="icon icon-left ion-social-twitter button button-block button-outline button-positive"
                  ng-click="app.login()">
      Twitter
    </button>
    <button class="icon icon-left ion-social-facebook button button-block button-outline button-positive">
      Facebook
    </button>
  </ion-content>

    <!-- <div class="container">
    <div id="circle" ng-class="{ 'animated infinite bounce' : app.loading}" >
      <h5 ng-hide="app.loading" id="greeting">Welcome to Gym Hero!</h5>
      <h5 ng-if="app.loading" id="greeting">Signing In ...</h5>
      <img src="app/Logo.png" alt="">
      </div>
    </div>

    <div id="sign-in" class="container">
     <h6>SIGN IN</h6>
      </div>

    <ul class="collection" id="authentication">
          <li ng-click="app.login()" class="collection-item"><i class="fa fa-twitter"></i>TWITTER</li>
          <li class="collection-item"><i class="fa fa-facebook"></i>FACEBOOK</li>
        </ul> -->
  </ion-content>
