<ion-view view-title="Create Workout">
    <div class="bar bar-subheader">
      <h2 class="title">Create your own workout!</h2>
    </div>

      <ion-content class="padding has-subheader">
        <ul class="list">
  <li class="item item-checkbox" ng-model="move.chests">
     <label class="checkbox">
       <input type="checkbox" ng-click="move.addMuscle('chests')">
     </label>
     Chest
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-click="move.addMuscle('legs')">
     </label>
     Legs
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-click="move.addMuscle('arms')">
     </label>
     Arms
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-click="move.addMuscle('shoulders')">
     </label>
     Shoulders
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-click="move.addMuscle('')">
     </label>
     Abs
  </li>
</ul>
<button class="button button-block" ui-sref="tab.createWorkout.addMovement({muscles: move.muscleList })">Next</button>
  </ion-content>

</ion-view>
