<ion-view view-title="Home">
  <div class="bar bar-subheader">
      <!-- <button class="icon ion-navicon button button-clear"></button> -->
    <h2 class="title">Splash Screen</h2>
      <button id="right" class="button button-positive button-clear no-animation"
              ng-click="app.next()" ng-show="app.slideIndex != 2">
        Next
      </button>

      <button id="left" class="button button-positive button-clear no-animation"
              ng-click="app.previous()" ng-show="app.slideIndex > 0">
        Previous
      </button>

      <!-- <button id="left" class="button button-positive button-clear no-animation"
              ng-click="app.startApp()" ng-show="app.slideIndex <= 1">
        Skip Intro
      </button> -->
      <button class="button button-positive button-clear no-animation"
              ng-click="app.startApp()" ng-show="app.slideIndex > 1">
          Start!
      </button>

  </div>
  <ion-content class="padding has-subheader">

            <ion-slide-box on-slide-changed="app.slideChanged(index)">
              <ion-slide>
                <h3>Thank you for choosing Gym Hero!</h3>
                  <p>Here to make your workouts easy to manage in one simple app</p>
                <div id="logo">
                  <img src="img/Logo.png">
                </div>


              </ion-slide>
              <ion-slide>
                <h3>So how do I start?</h3>

                <div id="list">
                  <h5>Just four easy steps:</h5>
                  <ol>
                    <li>Choose the muscle groups you'd like to work on</li>
                    <li>Select from the supplied movements</li>
                    <li>Add your weight, reps and sets</li>
                    <li>Save and then you're all set!</li>
                  </ol>
                </div>
              </ion-slide>
              <ion-slide>

                <h3>Good Luck</h3>
                <p>
                  Go pump some iron
                </p>
              </ion-slide>
            </ion-slide-box>


    </ion-content>
</ion-view>
