<ion-view view-title="Previous Workouts">
  <div class="bar bar-subheader">
    <h2 class="title">Previous Workouts</h2>
  </div>
    <ion-content class="padding has-subheader">

      <ul class="list">

  <li class="item item-toggle">
        Limit to 10
     <label class="toggle toggle-royal">
       <input type="checkbox" ng-click="move.show = !move.show">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>
      <!-- <ion-toggle ng-show="move.show === true && move.show !== false" toggle-class="toggle-calm" ng-click="move.show = false">
          Show All Workouts
      </ion-toggle> -->
      <!-- ng-show="move.show !== true" -->

      <ion-list ng-show="move.show === true && move.show !== false">
        <ion-item ng-repeat="move in move.movements  | orderBy: 'created_at':true | limitTo: 10">
          Date: <span>{{ move.date | date:'medium' }}</span> <br>
        <div ng-repeat="exercises in move.exercises">
          Exercise: <span>{{ exercises.name}}</span> <br>
          Weight: <span>{{ exercises.weight }} kg</span> <br>
          Reps: <span> {{ exercises.reps }} </span><br>
          Sets: <span>{{ exercises.sets }}</span> <br>
          <div class="padding-bottom">
          </div>
        </ion-item>
      </ion-list>

      <ion-list ng-hide="move.show === true && move.show !== false">
        <ion-item ng-repeat="move in move.movements  | orderBy: 'created_at':true">
          Date: <span>{{ move.date | date:'medium' }}</span> <br>
        <div ng-repeat="exercises in move.exercises">
          Exercise: <span>{{ exercises.name}}</span> <br>
          Weight: <span>{{ exercises.weight }} kg</span> <br>
          Reps: <span> {{ exercises.reps }} </span><br>
          Sets: <span>{{ exercises.sets }}</span> <br>
          <div class="padding-bottom">
          </div>
        </ion-item>
      </ion-list>
          <!-- li.item{Item $$}*30 -->
  </ion-content>
</ion-view>
