<ion-view view-title="Home">
  <div class="bar bar-subheader">
      <button class="icon ion-navicon button button-clear"></button>
    <h2 class="title">Splash Screen</h2>
  </div>
  <ion-content class="padding has-subheader">

    <button class="button button-block button-small button-outline button-calm">Outline Button</button>

    <div class="button-bar">
      <button class="icon icon-left ion-social-facebook button button-outline button-positive">Facebook</button>
      <button class="icon icon-left ion-social-twitter button button-outline button-positive">Twitter</button>
    </div>

    <button class="icon icon-left ion-ionic button button-block button-outline button-calm">
      <!-- <i class="icon ion-ionic"> Cool things!</i> -->
      Things to come!
    </button>
  <!-- li.item{Item $$}*30 -->
    <!-- <ul class="list">
    <a href="#" class="item item-icon">
      <i class="ion ion-email"></i>
    Check Mail</a>
    <li class="item">Item 01</li>
    <li class="item">Item 02</li>
    <a href="#" class="item item-icon">
      <i class="icon ion-mic-a"></i>
    Item 03
    <span class="item-note">
      Record
    </span>
    </a>
    <li class="item">Item 04</li>
    <li class="item">Item 05</li>
    <li class="item">Item 06</li>
    <li class="item">Item 07</li>
    <li class="item">Item 08</li>
    <li class="item">Item 09</li>
    <li class="item">Item 10</li>
    <div class="item item-divider">More Items</div>
    <li class="item">Item 12</li>
    <li class="item">Item 13</li>
    <li class="item">Item 14</li>
    <li class="item">Item 15</li>
    <li class="item">Item 16</li>
    <li class="item">Item 17</li>
    <li class="item">Item 18</li>
    <li class="item">Item 19</li>
    <li class="item">Item 20</li>
    <li class="item">Item 21</li>
    <li class="item">Item 22</li>
    <li class="item">Item 23</li>
    <li class="item">Item 24</li>
    <li class="item">Item 25</li>
    <li class="item">Item 26</li>
    <li class="item">Item 27</li>
    <li class="item">Item 28</li>
    <li class="item">Item 29</li>
    <li class="item">Item 30</li>
    </ul> -->

  </ion-content>


  <!-- <ion-footer-bar class="bar-dark">
    <h1 class="title">Ionic</h1>
  </ion-footer-bar> -->
  <!-- <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content> -->
</ion-view>
