<ion-view view-title="Home">
  <div class="bar bar-subheader">
      <button class="icon ion-navicon button button-clear"></button>
    <h2 class="title">Splash Screen</h2>
  </div>
  <ion-content class="padding has-subheader">

    <button class="button button-block button-small button-outline button-calm">Outline Button</button>

    <div class="button-bar">
      <button class="icon icon-left ion-social-facebook button button-outline button-positive">Facebook</button>
      <button class="icon icon-left ion-social-twitter button button-outline button-positive">Twitter</button>
    </div>

    <button class="icon icon-left ion-ionic button button-block button-outline button-calm">
      <!-- <i class="icon ion-ionic"> Cool things!</i> -->
      Things to come!
    </button>
  <!-- li.item{Item $$}*30 -->
    <!-- <ul class="list">
    <a href="#" class="item item-icon">
      <i class="ion ion-email"></i>
    Check Mail</a>
    <li class="item">Item 01</li>
    <li class="item">Item 02</li>
    <a href="#" class="item item-icon">
      <i class="icon ion-mic-a"></i>
    Item 03
    <span class="item-note">
      Record
    </span>
    </a>
    <li class="item">Item 04</li>
    <li class="item">Item 05</li>
    <li class="item">Item 06</li>
    <li class="item">Item 07</li>
    <li class="item">Item 08</li-->
    </ion-content>
</ion-view>
